<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<style type="text/css">
	div {border: 2px outset green;
		background-color:lightblue;
		text-align: center;
		width: 35%;
		height: 53%}
</style>
<body>
	<center style="padding: 150px">
	<div>
	<h1>Emp Login</h1>
	<h2>empid :<input type="text" name="name"></h2>
	<h2>password :<input type="text" name="password"></h2>
	<button type="submit" style="padding: 15px 20px;font-size: 16px">login</button>
	<h2>      </h2>
	</div>
	</center>
</body>
</html>