{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/sample.css' %}">
<body>
	<center style="padding: 100px;">
	<form>
	<h1>Registration Form</h1>
	<div>
	<h2>Name: <input type="text" name="name"></h2>
	<h2>Email:<input type="email" name="email"></h2>
	<h2>Mobile:<input type="mobile" name="mobile"></h2>
	<h2>Branch:<input type="text" name="branch"></h2>
	<h2>AadharNo:<input type="number" name="aadhar"></h2>
	<button type="submit" style="padding: 15px 20px;font-size: 16px">Register</button>
	<h1> </h1>
	</div>
	</form>
	</center>
</body>
</html>